@use 'global' as *;


body {
  background-color: #f8c4d2;
  min-height: 100%;
}

.gridLayout {
  height: 100vh;
  display: grid;
  grid-template-columns: 0.5fr 9fr 0.5fr;
  grid-template-rows: 40% 55% 5%;
  grid-template-areas:
    "head    head        head"
    ".          search      .     "
    "foot     foot          foot";

  header {
    grid-area: head;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;


    img.logo {
      width: 5rem;
    }

    #title {
      font-style: oblique;
      color: rgb(100, 100, 100);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 1rem;
      font-family: 'Raleway', sans-serif;
    }

  }

  .container.search {
    grid-area: search;
    display: flex;
    flex-direction: column;
    max-width: 35rem;

    input.form-control {
      background-color: #f2f2f2;
      border-color: #730220;
      border-width: 2px;

    }

    #button-addon2 {
      background-color: #72c96a;
      border-width: 2px;

      .material-symbols-outlined {
        font-variation-settings:
          'FILL' 0,
          'wght' 700,
          'GRAD' 200,
          'opsz' 48
      }
    }

    div.random-search-container {
      display: flex;
      justify-content: center;

      #button-random-search {
        border-width: 2px;
        border-color: #730220;
      }
    }
  }

  footer {
    background-color: #f2f2f2;
    grid-area: foot;

    #about {
      margin-bottom: 0%;
      display: flex;
      justify-content: center;
    }
  }
}